<html>
<head>
	<title>Create New Story</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/createnew.css" rel="stylesheet">
</head>
<body>
	<div class = "settings">
		<a href="/settings"><h4>Settings</h4></a>
	</div>

	<div class = "profileicon">
		<a href="/profile"><h4>profile</h4></a>
	</div>

	<div class = "storytype">
		<a href="/newstory"><h3>Picture</h3></a>
		<a href="/newstory"><h3>Picture + Text</h3></a>
		<a href="/newstory"><h3>Text</h3></a>
	</div>


	<ul class= "navbar">
		<li><a href= "/"> Home </a></li>
		<li><a href= "/trending"> Trending </a></li>
		<li><a class = "active" href= "/newstory"> New Story </a></li>
		<li><a href= "/notifications"> Notifications </a></li>
	</ul>




</body>
</html>
