.profile {
    left: 50%;
    position: absolute;
    top: 50%;
	background: none;
    display: inline-block;

}

.profile img {

    max-width: 200px;
}

.profileicon {
    position: fixed;
    top: 10px;
    left: 10px;
}

.settings {
    position: fixed;
    top: 10px;
    right: 10px;
}


.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #3378EA;
}