.profile {
    vertical-align: top;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    margin-left:  auto;
    margin-right: auto;
}

.profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
.profile p {
    display: block;
}

.profileicon {
    position: fixed;
    top: 10px;
    left: 10px;
}

.settings {
    position: fixed;
    top: 10px;
    right: 10px;
}


.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
}

.active {
    background-color: #3378EA;
}